body {
    color: black;
    background: white;
    margin-bottom: 6ex;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    .container{
    transition: transform .5s;
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px
        .container{
    transition: transform .5s;
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px
}
}
  }
  
  h1 {
    color: #039;
    background: white;
    margin-bottom: 2ex;
  }
  
  h2, h3, h4, h5, h6 {
    color: #039;
  }
  
  table {
    margin-right: auto;
    margin-bottom: 2ex;
  }
  
  thead td, th {
    color: black;
    background: #cccccc;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 1ex;
    border: 1pt solid gray;
  }
  
  tbody td, td {
    color: black;
    background: #eeeeee;
    font-size: small;
    padding: 0.5em 1ex;
    border: 1pt solid gray;
  }
  
  pre {
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .listProduct{
    grid-template-columns: repeat(2, 1fr);
    }
}
